
@{
    ViewBag.Title = "Index";
}

<ul>
    <li><a href="amir">amir</a></li>
    <li><a href="zahra">zahra</a></li>
    <li><a href="mohamad">mohamad</a></li>
    <li><a href="majid">majid</a></li>
</ul>

