
@{
    ViewBag.Title = "Index";
}

<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar header-nav">
    <div class="navbar-nav-scroll" id="menu">
    </div>
</header>

<h2 id="app">Index</h2>